In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input/"))
import glob
# Any results you write to the current directory are saved as output.

In [120]:
import pandas as pd

def say_hello():
    d1=[['2011-01-01',1],
        ['2011-01-02',2],
        ['2011-01-04',4],
        ]

    d2=[['2011-01-01',10],
        ['2011-01-03',30],
        ['2011-01-04',40],
        ]

    d3=[
        ['2011-01-02',200],
        ['2011-01-05',500],
        ['2011-01-03',300 ],
        ]
    
    ## create pandas dataframe for each array
    df1 = pd.DataFrame(d1)
    df2 = pd.DataFrame(d2)
    df3 = pd.DataFrame(d3)
    
    ##rename columns
    df1.columns = ['date','v1']
    df2.columns = ['date','v2']
    df3.columns = ['date','v3']

    
    ##concat dataframes
    df = pd.merge(df1,df2,how = 'outer')
    df_3 = pd.merge(df,df3,how = 'outer')
    print(df_3)

In [121]:
say_hello()

         date   v1    v2     v3
0  2011-01-01  1.0  10.0    NaN
1  2011-01-02  2.0   NaN  200.0
2  2011-01-04  4.0  40.0    NaN
3  2011-01-03  NaN  30.0  300.0
4  2011-01-05  NaN   NaN  500.0

In [3]:
import numpy as np

In [170]:
d1=[['2011-01-01',1],
        ['2011-01-02',2],
        ['2011-01-04',4],
        ]

d2=[['2011-01-01',10],
        ['2011-01-03',30],
        ['2011-01-04',40],
        ]

d3=[
        ['2011-01-02',200],
        ['2011-01-05',500],
        ['2011-01-03',300 ],
        ]

In [171]:
result = []
df = []
## fully join d1,d2

# init two index list
d2Index = []
d1Index = []

for list_d1 in d1:
    ## get a d1 index list (datetime is the value inside list)
    d1Index.append(list_d1[0])
    
    for list_d2 in d2:
        ## get a d2 index list (datetime is the value inside list)
        d2Index.append(list_d2[0])
        
        ## inner join d1,d2
        if list_d1[0] == list_d2[0]:
           df.append([list_d1[0],list_d1[1],list_d2[1]])
    ## left join d1,d2
    if list_d1[0] not in d2Index:
        df.append([list_d1[0],list_d1[1],float('nan')])
## right join d1,d2
for list_d2 in d2:
    if list_d2[0] not in d1Index:
        df.append([list_d2[0],float('nan'),list_d2[1]])

In [172]:
df

[['2011-01-01', 1, 10],
 ['2011-01-02', 2, nan],
 ['2011-01-04', 4, 40],
 ['2011-01-03', nan, 30]]

In [173]:
## fully join df,d3

# init two index list
d3Index = []
dfIndex = []

for list_df in df:
    ## get a df index list (datetime is the value inside list)
    dfIndex.append(list_df[0])
    
    for list_d3 in d3:
        ## get a d3 index list (datetime is the value inside list)
        d3Index.append(list_d3[0])
        
        ## inner join df,d3
        if list_d3[0] == list_df[0]:
           result.append([list_d3[0],list_df[1],list_df[2],list_d3[1]])
    ## left join df,d3
    if list_df[0] not in d3Index:
        result.append([list_df[0],list_df[1],list_df[2],float('nan')])
## right join df,d3
for list_d3 in d3:
    if list_d3[0] not in dfIndex:
        result.append([list_d3[0],float('nan'),float('nan'),list_d3[1]])

In [175]:
result

[['2011-01-01', 1, 10, nan],
 ['2011-01-02', 2, nan, 200],
 ['2011-01-04', 4, 40, nan],
 ['2011-01-03', nan, 30, 300],
 ['2011-01-05', nan, nan, 500]]